@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');

:root {
    --Wittgenstein: "Wittgenstein", serif;
    --Playwrite: "Playwrite PE", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.web-button:hover {
    background: rgb(120, 32, 0) !important;
    background: linear-gradient(270deg, rgba(120, 32, 0, 1) 25%, rgb(226, 117, 27) 90%) !important;

}

.web-button {
    /* background: rgb(0, 61, 120);
    background: linear-gradient(90deg, rgba(0, 61, 120, 1) 25%, rgba(37, 206, 255, 1) 90%); */
    background: rgb(120, 32, 0);
    background: linear-gradient(90deg, rgba(120, 32, 0, 1) 25%, rgba(255, 135, 37, 1) 90%);
}

.web-button-logout {
    background: rgb(196, 0, 0);
}

.web-button-logout:hover {
    background: rgb(255, 14, 14) !important;
}

.web-color {
    background: #FF8725;
    background: linear-gradient(to right, #FF8725 25%, #782000 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.ant-layout-content {
    margin: 0px !important;

}

/* responsive this part only */
.wrapperHeader {
    display: flex;
    flex-direction: row-reverse;
}


.logoDiv {
    gap: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.navLinks-h {
    display: none;
}

.navLinks {
    display: flex;
    margin-right: auto;
    justify-content: end;
    align-items: end;
    gap: 1rem;
    z-index: 100;
}

.cardWrapperRecent {
    /* display: flex;
    gap: 1.5rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.skillWrapperRecent {
    /* display: flex;
    gap: 1.5rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 20px;
}
.ant-layout-sider-children{
    overflow-y: scroll;
}

.card {
    background-color: #EFD9AC; 
    padding:1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.inputModal{
    width: 100%;
    border:none;
    background-color: #efddb8;
    padding:.5rem;
    border-radius: 4px;
    margin-bottom: .5rem;
    outline: none;
}


@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}

.card:hover {
    background-color: #fad58f;
    cursor: pointer;
}

.wrapperAllCode {
    margin-top: 3rem;
}
.fullRight{
    overflow-y: scroll;
}

/* --------- time line page--------- */
.timelineWrapper{
    height: 100vh;
    width: 100%;
}
.timelineHeader{
    text-align: center;
    margin:.5rem 0rem 0rem 0rem;
}
.timeLineBoxWrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Create 12 equal columns */
    gap: 10px;
}
.timelineLeft{
    grid-column: span 10; /* Take 8 columns */
    padding: 20px;
}
.timelineRight{
    grid-column: span 2; /* Take 4 columns */
    padding: 20px; 
}
@media (max-width: 1200px) {
    .timeLineBoxWrapper {
        grid-template-columns: repeat(8, 1fr); /* Adjust the grid to 8 columns */
    }

    .timelineRight{
        display: none; /* Hide the right side */
    }

    .timelineLeft {
        grid-column: span 8; /* Make left side take up all 8 columns */
    }
}

/* --------- time line page--------- */

@media (max-width: 630px) {
    .wrapperHeader {
        flex-direction: column;
        background-color: red;
    }

    .logoDiv>img {
        margin-top: -.9rem;
    }

    .navLinks {
        display: none;
    }

    .navLinks-h {
        display: flex;
        justify-content: center;
        padding: .5rem 0rem;
        gap: .5rem;
    }

    .cardWrapperRecent {
        flex-direction: column;
    }

    .wrapperAllCode {
        margin-top: 0rem;
    }

    .pos {
        width: 180px !important;
        height: 180px !important;
    }
    .demo-logo-vertical{
        display: flex!important;
        justify-content:center!important;
        align-items: center!important;
        padding: 0rem!important;
    }
    .ant-image{
        display: flex;
        justify-content: start;
        align-items: center;
    }
}

/* Hide scroll bars for all elements */
* {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

*::-webkit-scrollbar { 
    display: none;  /* For Chrome, Safari, and Opera */
}

/* Ensure no overflow in body and html */
html, body {
    overflow: hidden;
}