@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');

:root {
    --Wittgenstein: "Wittgenstein", serif;
    --Playwrite: "Playwrite PE", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.web-button:hover {
    background: rgb(120, 32, 0)!important;
    background: linear-gradient(270deg, rgba(120, 32, 0, 1) 25%, rgb(226, 117, 27) 90%)!important;

}

.web-button {
    /* background: rgb(0, 61, 120);
    background: linear-gradient(90deg, rgba(0, 61, 120, 1) 25%, rgba(37, 206, 255, 1) 90%); */
    background: rgb(120, 32, 0);
    background: linear-gradient(90deg, rgba(120, 32, 0, 1) 25%, rgba(255, 135, 37, 1) 90%);
}

.web-color {
    background: #FF8725;
    background: linear-gradient(to right, #FF8725 25%, #782000 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}